body{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr;
}
#question-field{
    background-color:white;
    width: 800px;
    margin: 0 auto;
    margin-top: 7%;
    padding: 20px;
    border-radius: 20px;
}
#answers-field{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 30px;
}
#answer{
    background-color: white;
    margin: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.answer:hover{
    cursor: pointer;
}
#earnings{
    width: fit-content;
    margin-left: 85%;
    margin-top: 5%; 
}
img{
    width: 100px;
    border-radius: 60px;
}
#options{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
#question{
    text-align: center;
}
#answer:hover{
    cursor: pointer;
}
.green-background{
    background-color: green;
}
.red-backgroung{
    background-color: red;
}
